@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html.no-scroll {
  overflow: hidden;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: #2e2e2e;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  position: relative;
  -webkit-text-size-adjust: none;
  margin: 0;
  background: #F4F2EF;
  min-width: 375px;
  overflow-x: hidden;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  transition: all 0.1s ease 0s;
}

input, textarea, select, button {
  font-family: inherit;
  outline: none;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button, textarea::-webkit-outer-spin-button, textarea::-webkit-inner-spin-button, select::-webkit-outer-spin-button, select::-webkit-inner-spin-button, button::-webkit-outer-spin-button, button::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration, textarea::-webkit-search-decoration, textarea::-webkit-search-cancel-button, textarea::-webkit-search-results-button, textarea::-webkit-search-results-decoration, select::-webkit-search-decoration, select::-webkit-search-cancel-button, select::-webkit-search-results-button, select::-webkit-search-results-decoration, button::-webkit-search-decoration, button::-webkit-search-cancel-button, button::-webkit-search-results-button, button::-webkit-search-results-decoration {
  display: none;
}
input:focus::placeholder, textarea:focus::placeholder, select:focus::placeholder, button:focus::placeholder {
  visibility: hidden;
}

input[type=number] {
  -moz-appearance: textfield;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

h1, h2, h3 {
  margin: 0;
}

h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 101%;
  text-transform: uppercase;
  color: #2e2e2e;
  margin-top: 0;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
h2 span {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  text-transform: none;
}

.svg {
  display: none;
}

.main-width {
  width: 100%;
  max-width: 1344px;
  padding: 0 12px;
  margin: 0 auto;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn--primary {
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: #fff;
  padding: 4px 4px 4px 22px;
  height: 62px;
  justify-content: space-between;
  gap: 16px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #222;
}
.btn--primary::after {
  content: "";
  width: 55px;
  height: 55px;
  background: url(../img/btn-after.svg);
  transition: all 0.3s ease;
}
.btn--primary:hover::after {
  content: "";
  width: 55px;
  height: 55px;
  background: url(../img/btn-after-hover.svg);
}
/* header */
header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 40px 0;
  z-index: 99;
}
header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 44px;
}
header .header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
header .header__nav a {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
}
header .header__nav a:hover {
  text-decoration: underline;
}
header .header__burger {
  display: none;
}
header .header__logo {
  margin: auto;
}
header .header__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 44px;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
}
header .header__controls--mobile {
  display: none;
}
header .header__controls span:hover {
  text-decoration: underline;
  cursor: pointer;
}
header .header__location {
  position: relative;
}
header .header__location .header__dropdown {
  left: -28px;
}
header .header__location span {
  display: flex;
  align-items: center;
}
header .header__location span:before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 11px;
  background: url("../img/location-ico.webp") center no-repeat;
  margin-right: 8px;
}
header .header__lang {
  position: relative;
}
header .header__lang .header__dropdown {
  left: -18px;
}
header .header__dropdown {
  position: absolute;
  top: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  border-radius: 10px;
  padding: 16px;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(12px) saturate(130%);
  -webkit-backdrop-filter: blur(12px) saturate(130%);
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
header .header__dropdown.open {
  opacity: 1;
  visibility: visible;
}
header .header__dropdown > div {
  display: none;
}
header .header__dropdown:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(135deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.5));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: 1;
}
header .header__dropdown a {
  border-bottom: 1px solid transparent;
}
header .header__dropdown a:hover {
  border-bottom: 1px solid #fff;
}
header .header__btn {
  position: relative;
  border-radius: 100px;
  padding: 14px 20px;
  width: 121px;
  height: 43px;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(12px) saturate(130%);
  -webkit-backdrop-filter: blur(12px) saturate(130%);
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
}
header .header__btn:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(160deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.5));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: 1;
}
header .header__btn:hover {
  background: rgba(255, 255, 255, 0.2);
}

.slider__nav {
  position: absolute;
  top: -75px;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 120px;
}
.slider .swiper-wrapper {
  align-items: stretch;
}
.slider .swiper-button-prev,
.slider .swiper-button-next {
  display: none;
}
@media (min-width: 768px) {
  .slider .swiper-button-prev,
  .slider .swiper-button-next {
    display: flex;
    z-index: 2;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    left: auto;
    right: auto;
    transition: all 0.3s ease;
  }
  .slider .swiper-button-prev:after,
  .slider .swiper-button-next:after {
    display: none;
  }
}
.slider__scrollbar {
  position: relative !important;
  display: block !important;
  height: 4px !important;
  background: rgba(0, 0, 0, 0.1019607843) !important;
  border-radius: 3px !important;
  margin: 20px 0 0 0 !important;
  left: auto !important;
  bottom: auto !important;
  width: 100% !important;
}
.slider__scrollbar .swiper-scrollbar-drag {
  background: #222;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .slider__scrollbar {
    display: none !important;
  }
}

/* navbar example */
.navbar-btn {
  width: 29px;
  min-width: 29px;
  height: 29px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 5px;
}
.navbar-btn__span {
  display: flex;
  height: 2.5px;
  background: #ffffff;
  transition: all linear 0.3s;
}
.navbar-btn__span_first {
  width: 16px;
}
.navbar-btn__span_second {
  width: 25px;
}
.navbar-btn__span_third {
  width: 18px;
}
.navbar-btn_close .navbar-btn__span_first {
  width: 25px;
  transform: rotate(45deg);
  margin-bottom: -15px;
}
.navbar-btn_close .navbar-btn__span_second {
  width: 0;
  align-self: center;
}
.navbar-btn_close .navbar-btn__span_third {
  width: 25px;
  transform: rotate(-45deg);
}
@media (min-width: 768px) {
  .navbar-btn {
    display: none;
  }
}

footer {
  background: #78beea;
}
footer .footer {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
footer .footer__copyright {
  flex: 1;
  opacity: 0.8;
}
footer .footer__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
}
footer .footer__nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 45px;
}
footer .footer__nav a {
  opacity: 0.8;
}
footer .footer__nav a:hover {
  opacity: 1;
}

.call-link {
  position: fixed;
  top: 48px;
  right: 16px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.call-link.visible {
  opacity: 1;
  visibility: visible;
}
.call-link__wrapper {
  position: relative;
}
.call-link__wrapper:hover .call-link__label {
  opacity: 1;
  visibility: visible;
}
.call-link__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  background: #4caf50;
}
.call-link__label {
  position: absolute;
  top: 50%;
  left: -160px;
  transform: translateY(-50%);
  background: url("../img/label-bg.webp") center no-repeat;
  padding: 8px 12px;
  width: 151px;
  height: 33px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.top-block {
  height: 100vh;
  background: url(../img/top-bg.webp) no-repeat top center;
  background-size: cover;
}
.top-block__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  position: relative;
}
.top-block__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
  max-width: 600px;
}
.top-block__label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  padding: 10px 16px;
  height: 30px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px) saturate(130%);
  -webkit-backdrop-filter: blur(2px) saturate(130%);
  color: #fff;
}
.top-block__label:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(160deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.5));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: 1;
}
.top-block__title {
  font-weight: 600;
  font-size: 80px;
  line-height: 101%;
  text-transform: uppercase;
  color: #fff;
}
.top-block__description {
  max-width: 470px;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #fff;
}
.top-block__buttons {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.top-block__time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
}
.top-block__time div {
  font-weight: 500;
  font-size: 36px;
}
.top-block__review {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 28px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 30px;
  padding: 24px;
  width: 327px;
  background: rgba(248, 248, 248, 0.2);
  backdrop-filter: blur(3px) saturate(130%);
  -webkit-backdrop-filter: blur(3px) saturate(130%);
  color: #fff;
  position: absolute;
  bottom: 40px;
  right: 12px;
}
.top-block__review:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(160deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.5));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: 1;
}
.top-block__review-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  width: 100%;
}
.top-block__review-author {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.top-block__review-author-name {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}
.top-block__review-author-city {
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  opacity: 0.6;
}
.top-block__review-rating {
  margin-left: auto;
}

.infographics {
  padding: 120px 0;
}
.infographics__items {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}
.infographics__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
  width: calc(20% - 14.4px);
  border-radius: 20px;
  padding: 24px;
  background: #fff;
}
.infographics__icon {
  width: 100%;
  max-width: 56px;
  height: 56px;
}
.infographics__icon img {
  width: 100%;
}
.infographics__title {
  font-weight: 500;
  font-size: 22px;
  color: #2e2e2e;
}

.solutions {
  padding: 88px 0;
  background: #fff;
  overflow-x: hidden;
}
.solutions__slider {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 12px;
  position: relative;
  overflow: visible;
}
.solutions__slider .swiper-button-prev,
.solutions__slider .swiper-button-next {
  background: #f4f2ef;
  border: 1px solid #e5e5e5;
}
.solutions__slider .swiper-button-prev:hover svg,
.solutions__slider .swiper-button-next:hover svg {
  fill: #95d4fc;
  transition: all 0.3s ease;
}
.solutions__slide {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 0 0 auto;
  width: 320px;
  height: auto;
  border-radius: 20px;
  background: #f4f2ef;
  padding: 8px;
}
.solutions__image {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 216px;
  border-radius: 12px;
  background: #fff;
}
.solutions__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}
.solutions__title {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
}
.solutions__title span {
  color: #c6c6c6;
}
.solutions__price {
  font-weight: 500;
  font-size: 18px;
}
.solutions__description {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 8px 0;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.7;
}
.solutions__description p {
  margin: 0;
}
.solutions__btn {
  margin-top: 8px;
}

.reviews {
  padding: 120px 0 0;
  overflow-x: hidden;
}
.reviews__slider {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 12px;
  position: relative;
  overflow: visible;
}
.reviews__slider .swiper-button-prev,
.reviews__slider .swiper-button-next {
  background: #f4f2ef;
  border: 1px solid #e5e5e5;
}
.reviews__slider .swiper-button-prev:hover svg,
.reviews__slider .swiper-button-next:hover svg {
  fill: #95d4fc;
  transition: all 0.3s ease;
}
.reviews__slide {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  flex: 0 0 auto;
  width: 433px;
  height: 360px;
  border: 1px solid #ddd;
  background: #f8f8f8;
  border-radius: 30px;
  padding: 24px 12px 24px 24px;
}
.reviews__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 246px;
  padding: 0 12px 12px 0;
  margin-bottom: 12px;
  overflow-y: auto;
  /* Кастомизация скролла */
  scrollbar-width: thin;
  scrollbar-color: #535353 #f4f2ef;
}
.reviews__content::-webkit-scrollbar {
  width: 6px;
}
.reviews__content::-webkit-scrollbar-track {
  background: #f4f2ef;
  border-radius: 3px;
}
.reviews__content::-webkit-scrollbar-thumb {
  background: #535353;
  border-radius: 3px;
}
.reviews__content::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}
.reviews__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}
.reviews__images {
  display: flex;
  align-items: center;
  gap: 8px;
}
.reviews__images div {
  width: 57px;
  height: 57px;
  background-size: cover;
  border-radius: 10px;
}
.reviews__review-author {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.reviews__review-author-name {
  font-weight: 600;
  font-size: 20px;
}
.reviews__review-author-city {
  font-weight: 500;
  font-size: 14px;
  opacity: 0.6;
}
.reviews__review-rating {
  margin-left: auto;
  padding-right: 12px;
}

.instruction {
  padding: 120px 0;
}
.instruction__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 12px;
}
.instruction__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 411px;
  background-position: center;
  background-size: cover;
  border-radius: 24px;
  padding: 24px;
  flex: 1;
  gap: 16px;
  transition: flex-basis 0.3s, flex-grow 0.3s;
}
.instruction__item:first-child {
  background-image: url(../img/instruction-img-1.webp);
  background-position-x: 20%;
}
.instruction__item:nth-child(2) {
  background-image: url(../img/instruction-img-2.webp);
  background-position-x: 65%;
}
.instruction__item:nth-child(3) {
  background-image: url(../img/instruction-img-3.webp);
  background-position-x: 70%;
}
.instruction__item:nth-child(4) {
  background-image: url(../img/instruction-img-4.webp);
  background-position-x: 40%;
}
.instruction__item:hover {
  flex: 0 0 50%;
  z-index: 2;
}
.instruction__number {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  padding: 8px 24px;
  width: 56px;
  height: 56px;
  background: #fff;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}
.instruction__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #fcf7f0;
  margin-top: auto;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}
.instruction__title .breakable {
  display: inline-block;
  white-space: normal;
}
.instruction__text {
  position: absolute;
  font-weight: 500;
  font-size: 16px;
  color: #fcf7f0;
  opacity: 0;
  padding-right: 150px;
  transform: translateY(30px);
  transition: opacity 0.3s, transform 0.3s;
}
.instruction__btn {
  border: 1.5px solid rgba(255, 255, 255, 0.6);
  border-radius: 100px;
  padding: 16px 22px;
  height: 51px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  position: absolute;
  bottom: 24px;
  right: 24px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}
.instruction__btn:hover {
  background: #fff;
  color: #78beea;
}

.main-form {
  padding: 80px 0 90px;
  background: #78beea;
}
.main-form h2 {
  color: #fff;
}
.main-form__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 620px;
}
.form .form-control {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100px;
  padding: 16px 8px 16px 24px;
  height: 54px;
  font-size: 18px;
  color: #fff;
}
.form .form-control::placeholder {
  color: #fff;
  opacity: 0.8;
}
.form .form-control--short {
  width: calc(50% - 8px);
}
.form .form-control--long {
  width: 100%;
}
.form .btn {
  width: 100%;
}
.form .dropdown {
  position: relative;
  cursor: pointer;
}
.form .dropdown.open {
  border-radius: 30px 30px 0 0;
}
.form .dropdown.open .dropdown-list {
  max-height: 500px; /* достаточно большое значение для всех элементов */
  padding: 8px 24px 16px;
  opacity: 1;
}
.form .dropdown .dropdown-selected span {
  color: rgba(255, 255, 255, 0.5);
}
.form .dropdown ul {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  left: -1px;
  right: -1px;
  top: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: none;
  background: rgb(162, 209, 240);
  border-radius: 0 0 30px 30px;
  padding: 0 24px;
  margin: 0;
  z-index: 10;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}
.form .dropdown ul li {
  list-style: none;
  text-transform: uppercase;
  cursor: pointer;
}
.form .dropdown ul li:hover {
  text-decoration: underline;
}
.form .dropdown ul li span {
  color: rgba(255, 255, 255, 0.5);
}
.map {
  padding: 80px 0;
  background-image: url("../img/map.webp");
  background-position: center;
  background-repeat: no-repeat;
}
.map h2 {
  color: #ffffff;
  gap: 12px;
  margin-bottom: 39px;
}
.map h2 span {
  font-size: 16px;
}
.map__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 434px;
}
.map__list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 30px;
  padding: 18px;
  background: rgba(248, 248, 248, 0.2);
  backdrop-filter: blur(3px) saturate(130%);
  -webkit-backdrop-filter: blur(3px) saturate(130%);
  color: #fff;
}
.map__list:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(160deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.5));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: 1;
}
.map__item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
}
.map__city {
  font-weight: 600;
  font-size: 16px;
  width: 35%;
  min-width: 35%;
}
.map__controls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.map__time {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

.faq {
  padding: 120px 0;
}
.faq__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.faq__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 887px;
}
.faq__item {
  border-radius: 20px;
  padding: 16px 24px;
  background: #fff;
  cursor: pointer;
}
.faq__item.open .faq__answer {
  max-height: 500px;
  margin-top: 16px;
}
.faq__item.open .faq__question:after {
  background: #95d4fc url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='17' height='16' viewBox='0 0 17 16' fill='none'><path d='M9.5793 0.389907L9.5793 13.025L15.8968 6.70744L16.9888 7.79936L8.79936 15.9888L0.609972 7.79936L1.70189 6.70744L8.01942 13.025L8.01942 0.389907L9.5793 0.389907Z' fill='%23FFFFFF'/></svg>") center no-repeat;
  transform: rotate(180deg);
}
.faq__question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  color: #131313;
}
.faq__question:after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f4f2ef url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='17' height='16' viewBox='0 0 17 16' fill='none'><path d='M9.5793 0.389907L9.5793 13.025L15.8968 6.70744L16.9888 7.79936L8.79936 15.9888L0.609972 7.79936L1.70189 6.70744L8.01942 13.025L8.01942 0.389907L9.5793 0.389907Z' fill='%231F1F1F'/></svg>") center no-repeat;
}
.faq__question:hover:after {
  background: #f4f2ef url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='17' height='16' viewBox='0 0 17 16' fill='none'><path d='M9.5793 0.389907L9.5793 13.025L15.8968 6.70744L16.9888 7.79936L8.79936 15.9888L0.609972 7.79936L1.70189 6.70744L8.01942 13.025L8.01942 0.389907L9.5793 0.389907Z' fill='%2395d4fc'/></svg>") center no-repeat;
}
.faq__answer {
  padding-right: 62px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #131313;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.information {
  padding: 80px 0;
  background: #78beea;
  color: #fff;
  font-weight: 500;
}
.information__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 6px;
}
.information h2 {
  grid-area: 1/1/3/2;
  color: #fff;
  gap: 16px;
}
.information h2 span {
  font-size: 16px;
}
.information__content {
  grid-area: 3/1/6/2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.information__phone-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.information__cities {
  font-size: 12px;
}
.information__phone {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 18px;
}
.information__btn {
  border: 1px solid #fff;
  border-radius: 1000px;
  padding: 6px 12px;
  font-size: 12px;
}
.information__btn:hover {
  background: #fff;
  color: #78beea;
}
.information__url {
  font-size: 18px;
  text-transform: uppercase;
}
.information__address {
  font-size: 18px;
  text-transform: uppercase;
}
.information__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.information__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 12px;
}
.information__item div {
  font-size: 18px;
  text-transform: uppercase;
}
.information__item div span {
  color: rgba(255, 255, 255, 0.5);
}
.information__form {
  grid-area: 1/2/6/3;
}

@media (max-width: 1439px) {
  header .header {
    gap: 3vw;
  }
  header .header__nav {
    gap: 2vw;
  }
  header .header__controls {
    gap: 3vw;
  }
  .top-block {
    background-position-x: 80%;
  }
}
@media (max-width: 1024px) {
  .instruction__list {
    flex-wrap: wrap;
    gap: 16px;
  }
  .instruction__item {
    gap: 8px;
    width: calc(50% - 8px);
    flex: auto;
    transition: none;
    height: 245px;
  }
  .instruction__item:hover {
    flex: auto;
  }
  .infographics__items {
    flex-wrap: wrap;
    justify-content: center;
  }
  .infographics__item {
    width: calc(33.3333333333% - 12px);
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 32px;
    margin-bottom: 32px;
  }
  .btn--primary {
    height: 58px;
    font-size: 14px;
  }
  .btn--primary::after {
    width: 50px;
    height: 50px;
    background-size: contain;
  }
  header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 18px 0;
    transition: all 0.3s ease;
  }
  header.nav-active, header.dropdown-active, header.fixed {
    background: #1a1a1a;
  }
  header .header {
    justify-content: flex-start;
    gap: 16px;
  }
  header .header__burger {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
    width: 22px;
    min-width: 22px;
    gap: 7px;
    position: relative;
    z-index: 1;
  }
  header .header__burger.active .header__burger-line:nth-child(1) {
    transform: rotate(45deg) translate(1px, 4.5px);
  }
  header .header__burger.active .header__burger-line:nth-child(2) {
    transform: rotate(-45deg) translate(1px, -4.5px);
  }
  header .header__burger-line {
    height: 1px;
    background: #FCF7F0;
    transition: 0.3s;
  }
  header .header__nav {
    position: fixed;
    width: 100%;
    top: 78px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    background: #1a1a1a;
    align-items: stretch;
    transition: all 0.3s ease;
  }
  header .header__nav.open {
    opacity: 1;
    visibility: visible;
  }
  header .header__nav a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 16px;
    border-top: 1px solid #fff;
    font-size: 18px;
  }
  header .header__nav a:after {
    content: "";
    display: flex;
    width: 28px;
    height: 28px;
    background: url('data:image/svg+xml;utf8,<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M24.2441 14.6196L16.3691 22.4946C16.2049 22.6588 15.9822 22.751 15.75 22.751C15.5178 22.751 15.2951 22.6588 15.1309 22.4946C14.9668 22.3304 14.8745 22.1077 14.8745 21.8755C14.8745 21.6433 14.9668 21.4206 15.1309 21.2565L21.513 14.8755H4.375C4.14294 14.8755 3.92038 14.7833 3.75628 14.6192C3.59219 14.4551 3.5 14.2326 3.5 14.0005C3.5 13.7685 3.59219 13.5459 3.75628 13.3818C3.92038 13.2177 4.14294 13.1255 4.375 13.1255H21.513L15.1309 6.74458C14.9668 6.58039 14.8745 6.35771 14.8745 6.12552C14.8745 5.89332 14.9668 5.67064 15.1309 5.50645C15.2951 5.34227 15.5178 5.25003 15.75 5.25003C15.9822 5.25003 16.2049 5.34227 16.3691 5.50645L24.2441 13.3815C24.3254 13.4627 24.39 13.5592 24.434 13.6654C24.478 13.7717 24.5007 13.8855 24.5007 14.0005C24.5007 14.1155 24.478 14.2294 24.434 14.3356C24.39 14.4418 24.3254 14.5383 24.2441 14.6196Z" fill="white" /></svg>') center no-repeat;
  }
  header .header__logo {
    margin: 0;
    position: relative;
    z-index: 1;
    margin-left: 10px;
  }
  header .header__controls {
    gap: 0;
    margin-left: auto;
  }
  header .header__controls--mobile {
    display: flex;
    min-width: 20px;
    height: 20px;
    margin-left: auto;
  }
  header .header__location span {
    display: none;
  }
  header .header__lang span {
    display: none;
  }
  header .header__dropdown {
    position: fixed;
    left: 0 !important;
    width: 100%;
    background: #1a1a1a;
    border-radius: 0;
    flex-direction: row;
    padding: 30px 16px;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
  header .header__dropdown div {
    display: block;
    margin-right: auto;
  }
  header .header__dropdown:after {
    display: none;
  }
  header .header__dropdown--location {
    top: 78px;
  }
  header .header__dropdown--location a:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 11px;
    background: url("../img/location-ico.webp") center no-repeat;
    margin-right: 8px;
  }
  header .header__dropdown--lang {
    top: 157px;
  }
  header .header__btn {
    background: #fff;
    color: #000;
  }
  header .header__btn:after {
    display: none;
  }
  .top-block {
    background: url("../img/top-bg-mobile.png") top center no-repeat;
    background-size: cover;
    background-position-x: 80%;
  }
  .top-block__container {
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 37px;
  }
  .top-block__content {
    gap: 16px;
    align-items: center;
  }
  .top-block__title {
    text-align: center;
    font-size: 42px;
    line-height: 101%;
  }
  .top-block__description {
    font-size: 16px;
    text-align: center;
  }
  .top-block__buttons {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .top-block__time {
    flex-direction: row;
    font-weight: 500;
    gap: 4px;
  }
  .top-block__time div {
    font-size: 16px;
  }
  .top-block__review {
    display: none;
  }
  .infographics {
    padding: 84px 0;
  }
  .infographics h2 {
    padding-right: 65px;
  }
  .infographics__items {
    flex-direction: column;
    gap: 16px;
  }
  .infographics__item {
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 26px;
    height: 82px;
  }
  .infographics__icon {
    width: 50px;
    height: 50px;
  }
  .infographics__title {
    font-size: 18px;
  }
  .solutions {
    padding: 56px 0;
  }

  .solutions__slider {
    overflow: hidden;
  }
  .solutions__slide {
    width: 269px;
    border-radius: 20px;
  }
  .solutions__content {
    padding: 16px 8px;
  }
  .solutions__title {
    font-size: 22px;
  }
  .solutions__price {
    font-size: 14px;
  }
  .solutions__description {
    font-size: 14px;
  }
  .solutions__btn {
    margin-top: 0;
  }
  .reviews {
    padding: 72px 0 0;
  }
  .reviews h2 {
    display: none;
  }

  .reviews__slider {
    overflow: hidden;
  }
  .reviews__slide {
    width: 317px;
    padding: 16px;
    border-radius: 20px;
  }
  .reviews__text {
    font-size: 16px;
  }
  .reviews__review-author-name {
    font-size: 18px;
  }
  .reviews__rating {
    padding-right: 0;
  }
  .instruction {
    padding: 72px 0;
  }
  .instruction__list {
    flex-wrap: wrap;
    gap: 16px;
  }
  .instruction__item {
    gap: 8px;
    width: calc(50% - 8px);
    flex: auto;
    transition: none;
    height: 245px;
  }
  .instruction__item:hover {
    flex: auto;
  }
  .instruction__number {
    width: 46px;
    height: 46px;
    font-size: 16px;
    margin-bottom: 26px;
  }
  .instruction__text {
    position: relative;
    transform: none;
    padding: 0;
    opacity: 0.7;
  }
  .instruction__btn {
    display: none;
  }
  .main-form {
    padding: 56px 0;
  }
  .main-form__wrapper {
    flex-direction: column;
    gap: 8px;
  }
  .main-form h2 {
    gap: 8px;
  }
  .main-form h2 span {
    font-size: 14px;
  }
  .form .form-control {
    padding: 16px 8px 16px 24px;
    height: 51px;
  }
  .form .form-control--short {
    width: 100%;
  }
  .faq {
    padding: 72px 0;
  }
  .faq__wrapper {
    flex-direction: column;
  }
  .faq__question {
    font-size: 18px;
  }
  .faq__answer {
    font-size: 14px;
    padding: 0;
  }
  .information {
    padding: 56px 0;
  }
  .information__wrapper {
    display: flex;
    flex-direction: column;
  }
  .information__content {
    order: 2;
    margin-top: 40px;
  }
  .information__phone, .information__url, .information__address, .information__item div {
    font-size: 16px;
  }
  .information__items {
    flex-direction: column;
  }
  footer {
    padding: 20px 0;
  }
  footer .footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    height: auto;
    opacity: 0.7;
    font-size: 12px;
  }
  footer .footer__links {
    order: 0;
    margin-bottom: 23px;
  }
  footer .footer__copyright {
    order: 2;
  }
  footer .footer__nav {
    order: 1;
    gap: 15px;
  }
  .call-link {
    top: 90px;
  }
  .call-link__btn {
    width: 50px;
    height: 50px;
  }
  .call-link__btn svg {
    width: 22px;
    height: 22px;
  }
}
@media (max-width: 554px) {
  .top-block {
    background-position-x: 80%;
  }
  .instruction__item {
    width: 100%;
    height: auto;
  }
  .instruction__item:first-child {
    background-image: url(../img/instruction-img-1-mobile.webp);
  }
  .instruction__item:last-child {
    background-image: url(../img/instruction-img-4-mobile.webp);
    background-size: 145%;
    background-position-x: 60%;
  }
  .map {
    padding: 56px 0;
    height: 795px;
    background: url("../img/map-mobile.webp") bottom no-repeat;
    background-size: cover;
  }
  .map h2 span {
    font-size: 14px;
  }
  .map__content {
    gap: 16px;
  }
  .map__list {
    border-radius: 20px;
  }
  .map__city {
    width: 40%;
    min-width: 40%;
  }
  .map__controls {
    flex-direction: column;
  }
  .map__controls .btn {
    width: 100%;
  }
  .map__time {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
}
